{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "4.1",
          "browsers": [
            "last 2 versions",
            "safari >= 7"
          ]
        }
      }
    ]
  ]
}